html, body {
    padding: 0; margin: 0;
    background-color: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column;

}

.homePageSectionOne {
    min-height: 400vh;
}
.x {
    display: flex;
    flex-direction: column;
    margin: .65rem .65rem 0 ;
}


.header {
    height: 2.5rem;
    background-color: lightblue;
}

.mainImgWrap {
    display: flex;
    padding-top: 2.5rem;
    width: 100%;
}
img:nth-child(1){
    margin-top: 1rem;
    height: 19rem;
    margin: auto;
    width: 100%;
    
}

.mainSloganWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.25rem;
  
}
.sloganMainWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    align-self: flex-start;
}
.sloganWrap {
  width: 9rem;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  padding-top: 1rem;
}

.btnsWrap {
    margin: 0 1.25rem;
    display: flex;
    justify-content: center;
    padding: 2.5rem 0;
}

.homepageBtns {
    width: 50%;
    height: 2.25rem;
}
.homepageBtns:nth-child(1) {
    background-color: #F9D05F;
    color: #1B1725;
    border-style: none;
}
.homepageBtns:nth-child(2) {
    background-color: #1A1A1B;
    color: white;
    border-style: none;
}

ul {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    align-self: center;
    align-items: center;
    
}

li {
    width: 25%;
    padding: 1rem 2rem 7.5rem;
    font-size: 1.5em;
    text-align: center;
}


.tileDescriptions {
    font-size: .6em;
}
@keyframes expand {
    0%{opacity: 0;
        bottom: 10rem
    }
    100%{opacity: 1;
        bottom: 19rem}
}
.aboutUsBtnWrap {
    display: flex;
    flex-direction: column;
    margin: 0 1.25rem;
    padding: 2.5rem 0;
    position: relative;
}


 .aboutUsBtnWrapScroll {
       animation: expand 3s;
       animation-fill-mode: forwards; 
       opacity: 1;
       position: relative;
   
}

 .aboutUsBtnWrapImg {
        /* height: 10rem; */
        /* padding-bottom: 2.5rem; */
        opacity: 1;
    
    }

.aboutUsImgText {
    opacity: 0;
    width: 80%;
    max-width: 20rem;
    position: relative;
    background-color: transparent;
    font-family: 'Dela Gothic One', sans-serif;

}


.aboutUsBtn {
    width: 50%;
    max-width: 20rem;
    height: 2rem;
    position: absolute;
    left: 45%;
    top:70%;
    background-color: #ff5a00;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */
